<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/author.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (auths.length > 0) { %>
                    <section>
                        <h1 class=" category__title m-top-1">
                         Authors
                        </h1>
                        <hr>
                        <ul class="cards">
                       
                        <% for (let author of auths) { %>
                           
                                <li>
                                    <a href="/authors/<%= author._id %>" class="card__author">
                                      <img src="<%= author.imageUrl %>" class="card__image" alt="" />
                                      <div class="card__overlay">
                                        <div class="card__header">
                                          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                                         
                                          <div class="card__header-text">
                                            <h3 class="card__title"><%= author.name %></h3>            
                                            
                                          </div>
                                        </div>
                                        <div class="padding-1">

                                            <p class="card__description"><%= author.description %></p>
                                        </div>
                                      </div>
                                    </a>      
                                  </li>
                           
                            <% } %>
                        </ul>


                      </section>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>