<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <section class="grid">
            <article class=" <%= isAdmin ? 'masthead-admin' : 'masthead' %>">
                <h1 class="<%= isAdmin ? 'tc-base bold' : 'tc-sec' %> masthead_text"> <% if (isAdmin) { %> Welcome back my dear Guardian of Culture  <% } else { %> Welcome to our publishing house <% } %></h1>
                <p class="<%= isAdmin ? 'tc-base bold' : 'tc-sec' %> masthead_text">
                    <% if (isAdmin) { %> Remember:  <% } else { %> As Franz Kafka said:  <% } %> <cite class="<%= isAdmin ? 'm-x-2' : '' %>" title="<%= isAdmin ? 'Albert Camus, The Myth of Sisyphus and Other Essays' : 'Letters to Friends, Family by Franz Kafka' %> "><% if (isAdmin) { %> Without culture, and the relative freedom it implies, society, even when perfect, is but a jungle. This is why any authentic creation is a gift to the future...  <% } else { %> A book must be the axe for the frozen sea within us. That is my belief <% } %> </cite>
                </p>
            </article>
        </section>

        <% if (prods.length > 0) { %>
            <section class="">
                <h1 class="<%= isAdmin ? 'category__title_admin' : 'category__title' %> "> New in store </h1>
                <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="/<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <hr>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                                <a href="/products/<%= product._id %>" class="btn tc-main">Details</a>
                            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                        </div>
                    </article>
                    <% } %>
                </div>
                <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </section>
    </main>
<%- include('../includes/end.ejs') %>