<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <section class="m-top-1">
                
                <h1 class="category__title"><%= product.title %></h1>
                <hr>
                <div class="image">
                    <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                </div>
                <h2><%= product.price %> $</h2>
                <p><%= product.description %></p>
                <%- include('../includes/add-to-cart.ejs') %>
            </section>
        </main>
        <%- include('../includes/end.ejs') %>